@{
    ViewBag.Title = "Trang Cá Nhân";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>           
        </div>
    </section>
}
@section menu_left
{
    <p class ="menuitem">@Html.ActionLink("Thông Tin Cá Nhân","index","quanlynguoidung")</p>   
    <p class ="menuitem">Xem Thông Báo</p>
}

