@model QuanLyHop.Models.CUOCHOP

<section class="itemcuochop">
    <div >
      <ul>
          <li style=" display:inline">Chủ đề:</li>
          @Html.DisplayFor(vl => Model.CHUDE)            
      </ul>           
           
    </div>    
</section>