@model QuanLyHop.Models.MNguoiDung
<section class="itemcanbo">
    <div >
      <ul>
          <li style=" display:inline">Họ Tên:</li>
          @Html.DisplayFor(vl => Model.Hoten)            
      </ul>           
           
    </div>    
</section>