@model List<QuanLyHop.Models.MNguoiDung>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="quanlytaikhoan">
    <div style="background-color:gray;">   
        <label style="font-family:'Times New Roman'; font-size:25px;color:orangered;height:30px">Danh Sách Người Dùng</label>
    </div>
 
        @foreach( var item in Model)
        {
            @Html.Partial("_itemNguoiDung",item)           
        }
  
</section>
