@model QuanLyCongVan.Models.MNguoiDung
<section>
    <div class="itemcanbo">
        <div id="1">
            <table>
                <tr>
                    <th> Họ Tên:@Html.DisplayFor(vl => Model.Hoten) </th>
                    <td>Chức vụ:@Html.DisplayFor(vl => Model.Chucvu)</td>
                </tr>
            </table>
           </div>
        <div id="2" > </div>
    </div>
</section>